#AddHandler application/x-httpd-php71 .php .php5 .php4 .php3
Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

<IfModule php7_module>
   #php_flag display_errors Off
   #php_value max_execution_time 0
   #php_value max_input_time 600
   #php_value max_input_vars 5000
   #php_value memory_limit 512M
   #php_value session.gc_maxlifetime 1440
   #php_value session.save_path "/var/cpanel/php/sessions/ea-php70"
   #php_value upload_max_filesize 1024M
</IfModule>



